@using Microsoft.AspNetCore.Components.Web
@inject Control[] controls

<div class="row">
    <h2>我是HTML窗体</h2>
</div>

<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="FindName" placeholder="请输入信息" @bind="InputName" aria-describedby="button-addon2">

            <button class="btn btn-outline-secondary" type="button" @onclick="CallForm1" id="button-addon2">razorC#触发WinForm事件</button>

            <button class="btn btn-outline-secondary" type="button" onclick="CallHelpers.callWinForm(document.getElementById('FindName').value)" id="button-addon2">JS触发WinForm事件</button>

        </div>
    </div>
</div>
<div class="row">
    <h3 id="title"></h3>
</div>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        foreach (var control in controls)
        {
            if (control is Button && control != null)
            {
                (control as Button)!.Click += (s, e) =>
                {
                    MessageBox.Show("Test按钮单击");
                };
            }
        }
    }
    private string? InputName = "ABCDEFG123456";
    #region 方法一
    async void CallForm1()
    {
        var result = await eventHub.CallCSharpAsync("clientclick", InputName);
        MessageBox.Show("razor中C#接到的返回结果：" + result.ToString());
    }
    #endregion

}
