@{
    ViewData["Title"] = "About";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@Localizer["about_content"]</p>
