<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<!--git库相关-->
		<add key="GitLib" value="https://github.com/axzxs2001/Asp.NetCoreExperiment.git"/>
		<add key="SourcePath" value="e:/test/"/>
		<!--dotnet发布相关-->
		<add key="PublishProject" value="AspNetCoreEnvironment.csproj,WebError.csproj"/>		
	</appSettings>
</configuration>