@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="https://access.line.me/dialog/oauth/weblogin?response_type=code&client_id=1656887987&redirect_uri=https%3A%2F%2Fnew-way.xin%2Fline&state=12345abcde&scope=profile%20openid&nonce=09876xyz">LINE</a>
