<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<targets>
		<target xsi:type="RichTextBox"
			  name="richTextBoxLog"
			  layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
			  height="30"
			  autoScroll="true"
			  maxLines="100"
			  showMinimized="true"
			  toolWindow="true"
			  controlName="LogRichTextBox"
			  formName="LogForm"
			  width="50"
			  useDefaultRowColoringRules="true"
			  allowAccessoryFormCreation="true"
			  messageRetention="None"			
			  supportLinks="false">
		
		</target>
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyyMMdd}.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="richTextBoxLog" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>