@using Microsoft.AspNetCore.Components.Web
@inject Button but
<div>
    <h2 id="title"></h2>
</div>
<div>
    <h2 id="message" style="color:red"></h2>
</div>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        but.Click += (s, e) =>
        {
            MessageBox.Show("按钮");
        };
    }
}