<nlog>
  <targets>
    <target name='jsonFile' type='Console'>
      <layout type='JsonLayout'>
        <attribute name='datetime' layout='${ticks}'/>
        <attribute name='time' layout='${date:format=yyyy-MM-dd HH\:mm\:ss.fff}' />
        <attribute name='level' layout='${uppercase:${level}}'/>
        <attribute name='eventid' layout='${event-properties:item=EventId_Id}'/>
        <attribute name='logger' layout='${logger}'/>
        <attribute name='message' layout='${replace-newlines:${message}} ${replace-newlines:${exception:format=tostring}}'   escapeUnicode='false'/>
        <attribute name='exception' layout='${exception}'   escapeUnicode='false'/>
        <attribute name='url' layout='${aspnet-request-url}' />
        <attribute name='action' layout='${aspnet-mvc-action}' />
        <attribute name='clientip' layout='${aspnet-request-ip}' />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="jsonFile" />
  </rules>
</nlog>

