@{

    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>无权限</title>
</head>
<body>
    <h3>对不起，你没有权限！</h3>
    <span id="second">5</span>秒后<a href="#" onclick="window.history.back()">返回</a>!
    <script>
        var interval = 5;
        var timer = window.setInterval(backPage, 1000);    
        //定时器
        function backPage() {   
            if (interval == 1) {
                window.history.back();
                //去掉定时器
                window.clearTimeout(timer);
            }
            else
            {          
                interval--;
                document.getElementById("second").innerHTML = interval;
            }
        }    
    </script>
</body>
</html>
