<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets async="true">
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} [${threadname}] ${message}|${callsite}|行号：${callsite-linenumber}|${stacktrace}|${rtb-link:Detail} ${onexception:${exception:format=tostring} ${newline}}"
            encoding="utf-8"/>
    <target xsi:type="RichTextBox"
      name="richTextBox"
      layout="${counter}、${longdate}|${level:uppercase=true}|${logger}|${message}|${callsite}|行号：${callsite-linenumber}|${stacktrace}|${rtb-link:Detail}"
      height="130"
      autoScroll="true"
      maxLines="60"
      showMinimized="true"
      toolWindow="true"
      controlName="rtbLog"
      formName="frmLog"
      width="150"
      useDefaultRowColoringRules="true"
      allowAccessoryFormCreation="true"
      messageRetention="None"
      supportLinks="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="richTextBox"/>
  </rules>
</nlog>
