<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="n_socialwebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://221.210.9.186:8001/socialwebservice/n_socialwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="n_socialwebserviceSoap"
                contract="WebReference.n_socialwebserviceSoap" name="n_socialwebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>