@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="http://192.168.252.55:5401" target="_blank">Project01</a>

<br />
<a href="http://192.168.252.55:5402" target="_blank">Project02</a>
