
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post" action="/account/login">
        <input name="username" />
        <input name="password" />
        <input type="submit" value="login" />
    </form>
</body>
</html>
