
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>验证</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container">
        <hr style="border:1px red solid;" />
        <div class="row" id="example-1">
            <input class="form-control" v-model="message" placeholder="edit me">
            <p>Message is: {{message}}</p>
        </div>
        <hr style="border:1px red solid;" />
        <div class="row" id="example-2">
            <input class="form-control" type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>
        </div>

        <hr style="border:1px red solid;" />
        <div class="row" id="example-3">
            <input class="form-control" type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input class="form-control" type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input class="form-control" type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{checkedNames}}</span>
        </div>
        <hr style="border:1px red solid;" />
        <div id="example-4" class="demo">
            <input class="form-control"  type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input class="form-control"  type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>
        <hr style="border:1px red solid;" />
        <div id="example-5" class="demo">
            <select class="form-control"  v-model="selected">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <hr style="border:1px red solid;" />
        <div id="example-6" class="demo">
            <select class="form-control"  v-model="selected" multiple style="width: 50px">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>
        <hr style="border:1px red solid;" />
        <div id="example-7" class="demo">
            <select  class="form-control"  v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
    </div>
    <script>
        new Vue({
            el: '#example-1',
            data: {
                message: ''
            }
        });
        new Vue({
            el: '#example-2',
            data: {
                checked: false
            }
        });   
        new Vue({
            el: '#example-3',
            data: {
                checkedNames: []
            }
        });
        new Vue({
            el: '#example-4',
            data: {
                picked: ''
            }
        })
        new Vue({
            el: '#example-5',
            data: {
                selected: null
            }
        })
        new Vue({
            el: '#example-6',
            data: {
                selected: []
            }
        })
        new Vue({
            el: '#example-7',
            data: {
                selected: 'A',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ]
            }
        })
    </script>
</body>
</html>
