
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container" id="todo-list-example">
        <input class="form-control" v-model="newTodoText"
               v-on:keyup.enter="addNewTodo"
               placeholder="Add a todo">
        <ul>
            <li is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:title="todo"
                v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>


   
    <script>

        Vue.component('todo-item', {
            template: '\
    <li>\
      {{ title }}\
      <button class="btn btn-danger btn-sm" v-on:click="$emit(\'remove\')"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></button>\
    </li>\
  ', 
            props: ['title']
        })
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    '第一项',
                    '第二项',
                    '第三项'
                ]
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push(this.newTodoText)
                    this.newTodoText = ''
                }
            }
        })
    </script>
</body>
</html>
